/vendor
/.idea
/.vscode
storage/installed
public/images/  # Replace with the path to your images folder
*.log           # Example for log files
.env
node_modules
/storage/framework
/storage
/storage_old
run-tickets.ps1
